body{
	background: linear-gradient(to right,#15205C,black);
}
/* Navbar Customization Starts here */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: linear-gradient(to right,#15205C,black);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/*Navbar Customization Ends Here*/


/*Slide Show configurations */
#stage {
    margin: 1em auto;
    width: 382px;
    height: 292px;
  }

  #stage a {
    position: absolute;
    top:5.3%;
    left: -1%;
  }
  #stage a img {
    padding: 10px;

  }

  #stage a:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
  }
  #stage a:nth-of-type(2) {
    z-index: 10;
  }
  #stage a:nth-of-type(n+3) {
    display: none;
  }

  @keyframes fader {
    from { opacity: 1.0; }
    to   { opacity: 0.0; }
  }

/*Slideshow configuration ends here*/



/*Configurations of tiles */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1.6fr 0.7fr 0.7fr;
  grid-template-rows: 10fr 10fr 10fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "slideshow slideshow slideshow ta  tb " "slideshow slideshow slideshow tc  td " "slideshow slideshow slideshow te  \tf " "footer footer footer footer footer";
}



.slideshow { grid-area: slideshow;
background-color: blue; }

.footer { grid-area: footer;
background-color: linear-gradient(to right,#15205C,black); }

.ta  { grid-area: ta ;
background-color: #172363;

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
text-align: right;
letter-spacing: -0.015em;
color: #FFFFFF; }

.tb  { grid-area: tb ;
background-color: #2498B1;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
text-align: right;
letter-spacing: -0.015em;
color: #FFFFFF;  }

.tc  { grid-area: tc ;
background-color: #4260FF;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
text-align: right;
letter-spacing: -0.015em;
color: #FFFFFF;  }

.td  { grid-area: td ; 
background-color:#8592FF ;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
text-align: right;
letter-spacing: -0.015em;
color: #FFFFFF; 
}

.te  { grid-area: te ;
background-color: #FFFFFF;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
text-align: right;
letter-spacing: -0.015em;
color: black;  }

.tf  { grid-area: tf ;
background-color:#9560F0;
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 40px;
text-align: right;
letter-spacing: -0.015em;
color: #FFFFFF;  }
